{% if recipes.has_other_pages %}

    <div class="container pagination">
        <div class="pagination-content">
        
            {% if pagination.first_page_out_of_range %}
                <a class="page-link page-item" 
                    href="?page=1">1
                </a>
                <span class="page-item">...</span>
            {% endif %}
            
            {% for page in pagination.pagination %}
                <a class="page-link page-item" 
                href="?page={{ page }}">{{ page }}
                </a>
            {% endfor %}
        
            {% if pagination.last_page_out_of_range %}
            <span class="page-item">...</span>
                <a class="page-link page-item" 
                    href="?page={{ pagination.total_pages }}">{{ pagination.total_pages }}
                </a>
            {% endif %}

        </div>
    
    </div>
{% endif %}
    